.color-02 {
  color: #020202;
}

.color-blue {
  color: #00BAFF;
}

.color-999 {
  color: #999;
}

.color-20 {
  color: #020202;
}

.color-e9 {
  color: #E9E0D9;
}

.color-333 {
  color: #333;
}

.color-fff {
  color: #fff;
}

.color-666 {
  color: #666;
}

.bg-fff {
  background-color: #fff;
}

.bg-000 {
  background-color: #000;
}

.bg-e9 {
  background-color: #E9E0D9;
}

.bg-blue {
  background-color: #00BAFF;
  color: #fff;
}