.cup {
  cursor: pointer;
}

html body {
  font-size: 16px;
  color: #020202;
  font-family: 'pingfang SC';
  
}

.page-content-login {
  max-width: 1000px;
  min-width: 800px;
  width: 100%;
  // margin: auto;
}

.page-content {
  max-width: 1200px;
  // min-width: 800px;
  width: 100%;
  margin: auto;
}
.ovh {
  overflow: hidden;
}
